@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@Message</p>

@code {
    public string Message = "testing";

    private HubConnection connection;

    protected override async Task OnInitializedAsync()
    {

        connection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/command"))
            .Build();

        connection.On<string>("TestMessage", message =>
        {
            Console.WriteLine($"Animation played: {message}");
            Message = message;
            StateHasChanged();
        });

        await connection.StartAsync();

        await base.OnInitializedAsync();
    }
}
